<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name%>
</div>

<div class="field">
  <%= f.label :home_abroad_representative %>
  <%= f.select :home_abroad_representative, League.home_abroad_representatives.keys %>
</div>
