<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name%>
</div>

<div class="form-group">
  <%= f.label :classification %>
  <%= f.select :classification, League.classifications.keys %>
</div>
