<% if user_signed_in? && current_user.admin == true %>
<div class="row">
  <div class="col-9">
    <%= render 'leagues/leagues' %>
  </div>

  <div class="col-3">
    <div class="form-outline">
      <%= render 'leagues/form' %>
    </div>

    <div style="padding-top: 20px;">
      <%= render 'teams/form' %>
    </div>
  </div>
</div>

<% else %>
  <%= render 'leagues/leagues' %>
<% end %>
