<li>
  <% if user_signed_in? && post.shared_by?(current_user) %>
    <%= link_to post_share_path(post), method: :delete, remote: true do %>
      <span class="btn btn-sm btn-outline-primary">シェアリング</span>
    <% end %>
  <% end %>
</li>
<li>
  <%= post.user.name %>
  <%= render 'shared/create_time', object: post %>
</li>
