<table class="table table-bordered col-5 offset-1">
  <thead>
    <tr>
      <th>所属チーム</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <%= link_to team.name, team_path(team) %>
          <% if user_signed_in? && current_user.admin == true %>
            <%= link_to "削除する", team_belong_path(team), method: :delete,
                data: { confirm: "削除しますか？"}, class: "btn btn-danger offset-1" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
