<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<h1 class="text-center">通知</h1>
<% if notifications.exists? %>
  <div class="jscroll">
    <%= render notifications %>
    <%= link_to_next_page notifications, "次へ", class: "next" %>
  </div>
<% else %>
  <p class="no-contents text-center">通知はありません</p>
<% end %>
