<h1>KICK OFF!</h1>
<p>
  サッカーファンに向けたコミュニケーションアプリです<br>
  サッカーについてみんなで語り合おう！
</p>

<%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-primary"%>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>