<div class="text-center">
  <h1>KICK OFF!</h1>
  <p>
    サッカーファンに向けたコミュニケーションアプリです<br>
    サッカーについてみんなで語り合おう！
  </p>
</div>

<%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-outline-primary col-6 offset-3"%>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary col-6 offset-3" %>
