<div class="row">
  <%= link_to_prev_page @players, "前の20件", class: "btn btn-info col-4 offset-1" %>
<% if @players.current_page == 1 %>
  <%= link_to_next_page @players, "次の20件", class: "btn btn-info col-4 offset-7" %>
<% else %>
  <%= link_to_next_page @players, "次の20件", class: "btn btn-info col-4 offset-2" %>
<% end %>
</div>
