<h1 class="text-center">メッセージ</h1>
<% @others.each do |other| %>
    <div class="row outline">
      <%= render 'users/profile', user: other.user %>
      <ul class="col-10">
        <%= link_to room_path(other.room_id) do %>
          <li>
            <%= other.user.name %>
          </li>
          <li>
            <%= simple_format(other.user.introduction) %>
          </li>
        <% end %>
      </ul>
    </div>
<% end %>
