<h1 class="text-center">メッセージ</h1>

<div class="col-8 offset-2">
  <% @others.each do |other| %>
    <%= link_to room_path(other.room_id) do %>
      <div class="row group-outline">
        <%= render 'users/profile_image', user: other.user %>
        <ul class="col-10">
            <li>
              <%= other.user.name %>
            </li>
            <li>
              <%= other.user.messages.last.content %>
            </li>
        </ul>
      </div>
    <% end %>
  <% end %>

  <% if @others.blank? %>
    <p class="text-center no-messages">メッセージがありません</p>
  <% end %>
</div>
