<div class="offset-1 col-10">
  <h1 class="text-center"><%= @other.user.name %></h1>

  <div id="messages" data-room_id="<%= @room.id %>" data-user_id="<%= current_user.id %>">
    <%= render @messages, user_id: current_user.id %>
  </div>

  <form class="text-center" style="padding: 50px 0;" id="main">
    <textarea data-behavior="room_speaker" style="background: #ddd;" rows="1" cols="60"></textarea>
  </form>
</div>
