<%= form_for @post, builder: FormHelper::CustomFormBuilder do |f| %>
<div class="field">
  <%= f.text_area :content, cols: 35, rows: 5 %>
</div>

<div class="field">
  <%= f.file_field :image %>
</div>

<div class="actions">
  <%= f.submit "投稿する" %>
</div>
<% end %>