<div class="row">
  <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
    <%= render 'users/profile_image', user: current_user %>
    <div class="font-name-bg">
      <%= current_user.name %>
    </div>
    <%= render 'new_post' %>
  </div>
  <div class="col-lg-8 col-12">
    <%= render 'posts', posts: @posts %>
  </div>
</div>
