/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 160px;
}

a {
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

li {
  list-style: none;
}

div {
  word-break: break-word;
}
// フォント関連
p,
li {
  font-size: 18px;
}
.font-name-bg {
  font-size: 22px;
  font-weight: bold;
}

// ナビ アイコン
.nav-item {
  margin: 0 10px;
  a {
    color: #fff;
  }
}
.fa-futbol:before {
  color: #000;
}
.n-circle {
  position: relative;
  top: -11px;
  right: 49px;
  color: red;
  font-size: 13px;
}

// 画像サイズ
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.profile-image-sm {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.image-size {
  width: 500px;
  max-width: 80%;
  height: 270px;
}
.prev-size {
  width: 250px;
  max-width: 105%;
  height: 200px;
  margin-bottom: 10px;
}
.emblem-image {
  width: 80px;
  height: 80px;
  padding: 0 0 6px 3px;
}

.post-area,
.comment-area,
.follow-area {
  padding: 10px;
  border: 1px solid gray;
}

// フィールド
.custom-select {
  width: 50%;
  margin-left: 5%;
}

// エラーメッセージ
.field_with_errors {
  label {
    color: red;
  }
  display: inline;
  input,
  select,
  textarea {
    outline: 0;
    border-color: red !important;
  }
}
.errors {
  margin-top: 0 !important;
  padding: 0;
  list-style: none;
  margin-top: 8px;
  color: red;
  margin-bottom: 0 !important;
}

.no-relation,
.no-posts,
.no-messages {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  padding-top: 30px;
}

// メッセージ
.message-left {
  text-align: left;
  padding-right: 40%;
}
.L-message-color {
  background: #dfdfdf;
  color: #000;
  padding: 10px;
  border-radius: 50px 50px 50px 0;
}
.message-right {
  text-align: right;
  padding-left: 40%;
}
.R-message-color {
  background: #0099ff;
  color: #fff;
  padding: 10px;
  border-radius: 50px 50px 0 50px;
}
.force-message-left {
  text-align: left !important;
  padding-right: 40%;
  padding-left: 0 !important;
  p {
    background: #dfdfdf;
    color: #000;
    padding: 10px;
    border-radius: 50px 50px 50px 0;
  }
}
.force-message-right {
  text-align: right !important;
  padding-left: 40%;
  padding-right: 0 !important;
  p {
    background: #0099ff;
    color: #fff;
    padding: 10px;
    border-radius: 50px 50px 0 50px;
  }
}

.group-outline,
.outline,
.team-outline {
  border: 1px solid gray;
}
.group-outline {
  font-size: 20px;
}
.outline {
  height: 50px;
  line-height: 50px;
}
.team-outline {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
}

.leagues-split {
  width: 33.3333333333%;
}
.teams-split {
  width: 50%;
}

// サッカー関連のデザイン
.position {
  margin-top: 20px;
  text-align: center;
  background: #007bff;
  color: #fff;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: blue;
}
