/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 160px;
}

a {
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

div {
  word-break: break-word;
}
// フォント関連
.font-name-bg {
  font-size: 18px;
  font-weight: bold;
}

.nav-item {
  margin: 0 10px;
  a {
    color: #fff;
  }
}

// 画像サイズ
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.image-size {
  width: 500px;
  max-width: 80%;
  height: 270px;
}
.prev-size {
  width: 250px;
  max-width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.post-area,
.comment-area,
.follow-area {
  padding: 10px;
  border: 1px solid gray;
}

// フィールド
.form-control {
  width: 70%;
}
.custom-select {
  width: 50%;
  margin-left: 5%;
}

// エラーメッセージ
.field_with_errors {
  label {
    color: red;
  }
  display: inline;
  input,
  select,
  textarea {
    outline: 0;
    border-color: red !important;
  }
}
.errors {
  margin-top: 0 !important;
  padding: 0;
  list-style: none;
  margin-top: 8px;
  color: red;
}

.no-relation,
.no-posts {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  padding-top: 30px;
}
