<li class="nav-item">
  <%= link_to "投稿を見る", posts_path %>
</li>
<li class="nav-item">
  <%= link_to "アプリの使い方", about_path %>
</li>
<li class="nav-item">
  <%= link_to "ログイン", new_user_session_path %>
</li>
